@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.body {
  padding: 0;
  margin: 0;
}

@layer utilities {

  .bg-input-color {
    background-color: #F4F4FF;
  }

  .bg-button-orange {
    background-color: #EF6B4A;
  }

  .btn-border-color {
    border: #6251DD;
  }



  .text-orange {
    color: #EF6B4A;
  }

  .text-purple {
    color: #6251DD;
  }

}