@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.body {
  padding: 0;
  margin: 0;
}

@layer utilities {

  .bg-input-color {
    background-color: #F4F4FF;
  }

  .bg-button-orange {
    background-color: #EF6B4A;
  }

  .btn-border-color {
    border: 1px solid #6251DD;

  }

  .text-gray {

    color: rgba(9, 9, 55, 0.6);
  }

  .text-orange {
    color: #EF6B4A;
  }

  .text-purple {
    color: #6251DD;
  }

  .header-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }

  .flexResponsive {
    display: flex;
  }

  @media screen and (max-width: 992px) {
    .flexResponsive {
      flex-direction: column;
      /* Sayfa genişliği 600 pikselin altındaysa flex-direction'ı değiştir */
    }
  }
}